[APP]
polling_interval = 5
use_mock_sensor = False

[MQTT]
mqtt_host = 8.8.8.8
mqtt_port = 1883
mqtt_topic = weatherSensor/test/rpi

[SENSOR_TEMPERATURE]
enable_sensor = True
sensor_calibration = -3.0
sensor_json_key = temperature

[SENSOR_HUMIDITY]
enable_sensor = True
sensor_calibration = 0.0
sensor_json_key = humidity

[SENSOR_LIGHT]
enable_sensor = True
sensor_calibration = 0.0
sensor_json_key = light
sensor_gpio_pin = 18

[SENSOR_IP_ADDRESS]
enable_sensor = True
sensor_json_key = ipaddress
interface = en0

[SENSOR_CPU]
enable_sensor = True
sensor_json_key = cpu

[WIFI]
wifi_ping_host = 192.168.0.200
polling_interval = 10
