[APP]
polling_interval = 300
use_mock_sensor = False

[MQTT]
mqtt_host = 8.8.8.8
mqtt_port = 1883
mqtt_topic = weatherSensor/test/rpi

[SENSOR_TEMPERATURE]
sensor_enable = True
sensor_calibration = 0.0
sensor_json_key = temperature
#Supported types are HTU21D and SHT31
sensor_type = HTU21D

[SENSOR_HUMIDITY]
sensor_enable = True
sensor_calibration = 0.0
sensor_json_key = humidity
#Supported types are HTU21D and SHT31
sensor_type = HTU21D

[SENSOR_LIGHT]
sensor_enable = True
sensor_calibration = 0.0
sensor_json_key = light
sensor_gpio_pin = 18

[SENSOR_IP_ADDRESS]
sensor_enable = True
sensor_json_key = ipaddress
interface = wlan0

[SENSOR_CPU]
sensor_enable = True
sensor_json_key = cpu

[WIFI]
wifi_ping_host = 8.8.8.8
polling_interval = 500
