[APP]
pollingInterval = 5
useMockSensor = False

[MQTT]
mqtt_host = 192.168.0.200
mqtt_port = 1883

[SENSOR]
readTemperature = True
temperatureMessageTopic = weatherSensor/livingroom/temperature
temperatureCalibration = -3.0

readHumidity = True
humidityMessageTopic = weatherSensor/livingroom/humidity
humidityCalibration = 0.0

readLight = True
lightMessageTopic = weatherSensor/livingroom/light
lightCalibration = 0.0
lightGpioPin = 18

readLocalCPUTemp = True
localCPUMessageTopic = weatherSensor/livingroom/cputemp

readIPAddress = True
localIPMessageTopic = weatherSensor/livingroom/ip

[LOGGER]
logFile = logging.ini
logName = sensorLogger

[WIFI]
wifiMonHostname = 192.168.0.200
wifiCheckFrequency = 7
